ont-family: 'Abril Fatface', cursive;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Borel', cursive;
font-family: 'Bungee Spice', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;


.nav-item{
  letter-spacing:.2em;
  font-size:14px;
  text-transform:uppercase;
 }
 .dropdown-item{
   letter-spacing:.2em;
   font-size:14px;
   text-transform:uppercase;
   }
 .my-footer{
   background-color:#ff0000;
   height:60px;
   }
.my-footer p{
  padding-top:20px;
  font-size:14px;

  }
.my-row-class{
padding-top:15px;
}
.my-row-class .mx-auto{
color:#000;
font-size:12px;
}
.my_image{
width:100%;
height:auto;
}
.my_title{
font-size:16px;
text_transform:uppercase;
letter-spacing:.2em;
}
.my_image_padding{
padding:5px;
}
.my_bottom_margin{
margine_bottom:10px;
}
.card-body h4{
font-size:14px;
text_transform:uppercase;
letter-spacing:.2em;
}
/***product page ***/
.my_prod_row _class{
padding-top:15px;
padding-bottom:20px;
}
.my_prod_row_class.mx_auto{
color:#000;
font-size:12px;
text-decoration:none;

}
.my_product_title{
font-size:14px;
text_transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}
my_product_text{
padding-right:20px;
}
my_search_text{
padding-top:20px;
}
.custom_a{
text-decoration:none;
}
.custom_icon{
text-decoration:none;
color:#868ea61!important;
}
.my_custom_button{
margin-top:5px;
}